Host master
  HostName 192.168.121.8
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/voje/git/infrastructure/vagrant/k8s/.vagrant/machines/master/libvirt/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host worker-1
  HostName 192.168.121.124
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/voje/git/infrastructure/vagrant/k8s/.vagrant/machines/worker-1/libvirt/private_key
  IdentitiesOnly yes
  LogLevel FATAL

Host worker-2
  HostName 192.168.121.94
  User vagrant
  Port 22
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  PasswordAuthentication no
  IdentityFile /home/voje/git/infrastructure/vagrant/k8s/.vagrant/machines/worker-2/libvirt/private_key
  IdentitiesOnly yes
  LogLevel FATAL

